python 3.7.2 2.7.15 system
conftest 0.9.1 latest
direnv 2.21.2 latest
golang 1.13.9
helm 3.1.2 latest
helmfile 0.102.0 latest
istioctl 1.5.0  latest
jx 2.0.1244 latest
k6 0.26.1 latest
k9s 0.17.7 latest
kind 0.7.0 latest
kubeseal 0.11.0 latest
kustomize 3.5.4 latest
nodejs 13.11.0 latest
packer 1.5.4 latest
rancher 2.3.2 latest
shellcheck 0.7.0  latest
shfmt 3.0.2 latest
skaffold 1.5.0 latest
stern 1.11.0 latest
terraform-docs latest
terraform 0.12.23 latest
vault 1.3.3+ent latest
