#!/bin/sh

# Ensure we have our private key in place for chezmoi
# This is only run once before the private key is decrypted
if [ ! -f "${HOME}/.config/chezmoi/key.txt" ]; then
  mkdir -p "${HOME}/.config/chezmoi"
  chezmoi age decrypt --output "${HOME}/.config/chezmoi/key.txt" --passphrase "{{ .chezmoi.sourceDir }}/key.txt.age"
  chmod 600 "${HOME}/.config/chezmoi/key.txt"
fi
