{{- $use_secrets := promptBoolOnce . "use_secrets" "Use secrets from age? (true/false)" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $github_user := promptStringOnce . "github_user" "GitHub user ID" -}}

encryption = "age"
pager = "less -R"

[data]
  email             = {{ $email | quote }}
  github_user       = {{ $github_user | quote }}
  is_ci_workflow    = false # Set true only in CI test
  use_secrets       = {{ $use_secrets }}
  xdgCacheDir       = "{{ .chezmoi.homeDir }}/.cache"
  xdgConfigDir      = "{{ .chezmoi.homeDir }}/.config"
  xdgDataDir        = "{{ .chezmoi.homeDir }}/.local/share"
  xdgStateDir       = "{{ .chezmoi.homeDir }}/.local/state"

[edit]
  apply = true

[age]
  identity = "~/.config/chezmoi/key.txt"
  recipient = "age1lk0ajrnj7k0marex3r6vwmd4lgrskg855es8ntv4wgn90g77sszqxwnjqy"

[diff]
    {{ if lookPath "delta" -}}command = "delta"
    {{ end -}}
    exclude = ["scripts"]

{{ if lookPath "code" -}}
[edit]
    args    = ["-r", "--wait"]
    command = "code"

[merge]
    command = "bash"
    args = [
        "-c",
        "cp '{{ "{{" }} .Target {{ "}}" }}' '{{ "{{" }} .Target {{ "}}" }}.base' && code --new-window --wait --merge '{{ "{{" }} .Destination {{ "}}" }}' '{{ "{{" }} .Target {{ "}}" }}' '{{ "{{" }} .Target {{ "}}" }}.base' '{{ "{{" }} .Source {{ "}}" }}'",
    ]
{{ end -}}